autorad @ git+https://github.com/stephano41/AutoRadiomics.git@32954e5c3b6373fb2a5d215aa2aae4c6eaa4dc03
dcmrtstruct2nii
pytest
hydra-core
jupyter
rich
mlxtend
ray
dipy
skorch
wandb
torchio
monai

torch
torchvision
torchaudio
