autorad @ git+https://github.com/stephano41/AutoRadiomics.git@c5f41be617565794c95e088e89aa3887e9d9730e
dcmrtstruct2nii
dicom2nifti
pytest
hydra-core
jupyter
rich
mlxtend
ray
dipy
skorch
wandb
torchio
monai
pingouin
torch
torchvision
torchaudio
# imbalanced-learn==0.11.0
# scikit-learn==1.3.
