autorad @ git+https://github.com/stephano41/AutoRadiomics.git@13c307499b6700fe2bcba70555f44ca0c3c6a044
dcmrtstruct2nii
pytest
hydra-core
jupyter
rich
mlxtend
ray
dipy
skorch
wandb
torchio
monai
pingouin
torch
torchvision
torchaudio
imbalanced-learn==0.11.0
scikit-learn==1.3.2