# @package _global_
# Example for setting up env.yaml file

n_gpu:
n_cpu:
cpu_per_task: 2
gpu_per_task: 0.25

hydra:
  job:
    env_set:
    # if on linux
    #  MKL_THREADING_LAYER: GNU
      RAY_worker_register_timeout_seconds: 120
    # if on windows:
      TUNE_DISABLE_AUTO_CALLBACK_SYNCER: 1
      WANDB_API_KEY:
      TUNE_ORIG_WORKING_DIR:
    #  WANDB_MODE: disabled